# enable scrolling
set -g mouse on

# start windows and pane at 1
set -g base-index 1
setw -g pane-base-index 1

# status bar color coding
set -g status-bg black
set -g status-fg white

# status bar formation
set -g status-justify centre
set -g status-left-length 25
set -g status-left "#[fg=brightgreen][#[fg=white]#{pomodoro_status} #[fg=brightgreen]] ["
set -g status-right-length 25
set -g status-right "#[fg=brightgreen]] [ #[fg=brightblue]%d-%m #[fg=white]%H:%M #[fg=brightgreen]]"

# tmux-pomodoro-plus config
set -g @pomodoro_mins 25
set -g @pomodoro_break_mins 5
set -g @pomodoro_intervals 4
set -g @pomodoro_long_break_mins 15
set -g @pomodoro_repeat 'off'
set -g @pomodoro_sound 'Submarine'
set -g @pomodoro_notifications 'on'

# load plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'olimorris/tmux-pomodoro-plus'

# tmux plugin manager
run '~/.tmux/plugins/tpm/tpm'
